@import "tailwindcss";
@layer components {
  .input-style {
    @apply w-full mt-1 px-4 py-2.5 text-sm
    rounded-lg border border-gray-300 bg-white
    text-gray-700 placeholder-gray-400
    shadow-sm
    transition-all duration-200 ease-in-out

    focus:outline-none
    focus:border-green-500
    focus:ring-2 focus:ring-green-200

    hover:border-gray-400;
  }

  .input-style:disabled {
    @apply bg-gray-100 cursor-not-allowed;
  }
}
